.formWrapper {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    .formHeader {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1rem;
        .titleArea {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .title {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                svg {
                    font-size: 25px;
                }
                h2 {
                    font-size: 30px;
                    font-weight: 700;
                    @media screen and (min-width: 1200px) {
                        font-size: 40px;
                    }
                }
            }
            .closeIcon {
                font-size: 30px;
                cursor: pointer;
                @media screen and (min-width: 1200px) {
                    font-size: 35px;
                }
            }
        }
        p {
            font-size: 18px;
            font-weight: 300;
            line-height: 21px;
        }
    }
    .formContainer {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        .leftSide {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
        }

        .rightSide {
            width: 290px;
            img {
                width: 100%;
            }
        }
    }
}
