.formWrapper {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    .formFooter {
        margin: 60px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        .footerLinks {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            .linkCard {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid;
                width: 60px;
                height: 60px;
                border-radius: 10px;
                &:nth-child(2) {
                    svg {
                        font-size: 40px;
                    }
                }
                svg {
                    font-size: 30px;
                }
            }
        }
    }
    .formHeader {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1rem;
        .titleArea {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .title {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                svg {
                    font-size: 25px;
                }
                h2 {
                    font-size: 30px;
                    font-weight: 700;
                    @media screen and (min-width: 1200px) {
                        font-size: 40px;
                    }
                }
            }
            .closeIcon {
                font-size: 30px;
                cursor: pointer;
                @media screen and (min-width: 1200px) {
                    font-size: 35px;
                }
            }
        }
        p {
            font-size: 18px;
            font-weight: 300;
            line-height: 21px;
        }
    }
    .formContainer {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        @media screen and (min-width: 918px) {
            flex-direction: row;
        }
        .leftSide {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            .myForm {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                width: 100%;
                @media screen and (min-width: 1200px) {
                    gap: 2rem;
                    width: 80%;
                    max-width: 80%;
                }
                .formControl {
                    display: flex;
                    flex-direction: column;
                    gap: 0.25rem;
                    position: relative;
                    label {
                        font-size: 18px;
                        font-weight: 400;
                    }
                    input {
                        background: #ffffff;
                        border: 1px solid #000000;
                        border-radius: 12px;
                        height: 40px;
                        outline: none;
                        font-size: 15px;
                        font-weight: 500;
                        padding-left: 12px;
                    }
                    .show {
                        position: absolute;
                        right: 11px;
                        top: 36px;
                    }
                }
                .rememeberArea {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .remaind {
                        display: flex;
                        gap: 0.5rem;
                        label {
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }
                }
                .submit {
                    background-color: #e77d2c;
                    border-color: #e77d2c;
                    width: 100%;
                }
                p {
                    font-size: 18px;
                    text-align: center;
                    font-weight: 600;
                    a {
                        color: #e77d2c;
                    }
                }
            }
        }

        .rightSide {
            width: 100%;
            @media screen and (min-width: 1200px) {
                width: 60%;
            }
            img {
                width: 100%;
            }
        }
    }
}
