.heroCon {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
    button {
        background-color: $btnbg;
        border-radius: 10px;
    }
    .textSide {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: $font1;
        .online {
            color: $btnbg;
            font-size: 18px;
            font-weight: 400;
            line-height: 59px;
        }
        h2 {
            font-size: 45px;
            font-weight: 700;
            line-height: 50px;
            color: $black;
            span {
                display: block;
            }
        }
        p {
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
            color: $black;
            margin: 12px 0;
        }
    }
    .Image {
        width: 259px;
        margin-bottom: 12px;
        img {
            width: 100%;
        }
    }
}
