@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Sunflower:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Sunflower:wght@300;500;700&display=swap");

@import "./modules/varibles";
@import "./modules/classes";
@import "./modules/reset";
@import "./HeaderStyle/Header.module.scss";
@import "./AccountStyles/account.module.scss";
@import "./NotFoundStyles/notFound.module.scss";
@import "./body/main.module.scss";
@import "./FormStyles/form.module.scss";
@import "./Footer/Footer.module.scss";

.nav__scrolled {
  box-shadow: 0px 4px 4px rgba(236, 248, 241, 0.5);
  position: fixed !important;
  top: 0;
  z-index: 50;
  width: 100%;
  transition: all 300ms ease;
}
