.accHead {
  .dropdown {
    position: absolute;
    right: 10%;
    top: 100%;
    width: 212px;
    background-color: red;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem 0;
    .button{
        
    }
  }
}
