.acountPagewrapper{
  
}

.accHead {
  .dropdown {
    position: absolute;
    right: 10%;
    top: 100%;
    width: 212px;
    background-color: $white;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
    @media screen and (max-width: 917px) {
      right: 0;
      top: 524%;
      width: 100%;
      left: 0;
    }

    padding: 1rem 0;
    .button {
      width: 100%;
      padding: 0 12px;
      button {
        border-radius: 15px;
      }
    }
    .dropdownList {
      padding: 4px 12px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 1rem;
      li {
        display: inherit;
        align-items: center;
        justify-content: flex-start;
        width: inherit;
        gap: 0.5rem;
        p {
          font-weight: 400;
          font-size: 18px;
          line-height: 27px;
          color: $black;
        }
      }
    }
  }
}
.accountHeroArea {
  background-color: $btnbg3;
  .accountCon,
  .titleArea {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    @media screen and (min-width: 768px) {
      gap: 2rem;
    }
  }
  .titleArea {
    h2 {
      color: $white;
      font-weight: 700;
      font-size: 30px;
      line-height: 25px;
      @media screen and (min-width: 768px) {
        font-size: 50px;
      }
    }
    p {
      font-weight: 300;
      font-size: 14px;
      line-height: 25px;
      color: $white;
      @media screen and (min-width: 468px) {
        font-size: 16px;
      }
      @media screen and (min-width: 768px) {
        font-size: 24px;
      }
    }
  }
  .selections {
    width: 100%;
    border-radius: 10px;
    @media screen and (min-width: 580px) {
      .select {
        select {
          font-size: 18px !important;
          font-weight: 400;
        }
      }
    }
    @media screen and (min-width: 968px) {
      width: 502px;
    }

    @media screen and (max-width: 310px) {
      display: none;
    }
    .select {
      display: flex;
      align-items: center;
      border-radius: 10px;
      .search {
        padding: 2px 2px;
        background: $btnbg;
        margin: 0 !important;
        height: 38px;
        border-radius: 0px 15px 15px 0px;
        border-color: $btnbg;
        @media screen and (min-width: 580px) {
          padding: 4px 20px;
        }
        @media screen and (min-width: 768px) {
          height: 60px;
        }
      }
      select {
        width: 100%;
        padding: 3px;
        border: none;
        height: 38px;
        outline: none;
        &:first-child {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }
        option {
          padding: 1rem;
        }
        @media screen and (min-width: 768px) {
          height: 60px;
        }
      }
    }
  }
}
