$font1: "Nunito Sans", sans-serif;
$font2: "Roboto", sans-serif;
$font3: "Sunflower", sans-serif;
$black: #000000;
$btnbg: #e77d2c;
$btnbg2: #e87e2e;
$btnbg3: #212121;
$white: #ffffff;
$optionBg: #ededed;